@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  background-color: #fff;
}
body::-webkit-scrollbar {
  width: 5px;
  background-color: #242a35;
}
body::-webkit-scrollbar-thumb {
  background-color: #ff9800;
}
body.no-scroll {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  width: 100vw;
  height: 84px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  font-family: "Montserrat", sans-serif;
  transition: 0.3s ease-in-out;
}
.navbar__content {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1180px;
}
.navbar__brand {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.25em;
  text-decoration: none;
}
.navbar__list {
  display: flex;
  list-style: none;
}
@media screen and (max-width: 768px) {
  .navbar__list {
    display: none;
  }
}
.navbar__list-item:nth-child(n+2) {
  margin-left: 21px;
}
.navbar__link {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  letter-spacing: 0.125em;
  transition: color 0.3s ease;
  position: relative;
}
.navbar__link:after {
  content: "";
  width: 0%;
  height: 1px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  background-color: #ff9800;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}
.navbar__link.active {
  color: #ffad33;
}
.navbar__link.active:after {
  width: 100%;
}
.navbar__link:not(.active):hover {
  color: #ff9800;
}
.navbar__link:not(.active):hover:after {
  width: 100%;
}
.navbar__menu-icon {
  display: none;
}
@media screen and (max-width: 768px) {
  .navbar__menu-icon {
    display: block;
    height: 15px;
    width: 22.5px;
  }
}
.navbar__scrolled {
  background-color: white;
  height: 60px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
}
.navbar__scrolled .navbar__link:not(.active),
.navbar__scrolled .navbar__brand {
  color: #242424;
}
.navbar__scrolled .navbar__link:not(.active):hover {
  color: #ff9800;
}
.navbar__scrolled .navbar__menu-icon {
  filter: invert(1);
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  display: none;
  opacity: 0;
}
.mobile-nav__close-icon {
  position: absolute;
  right: 5vw;
  top: 25px;
}
.mobile-nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.mobile-nav__item:nth-child(n+2) {
  margin-top: 20px;
}
.mobile-nav__link {
  color: #212529;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
}

.header {
  width: 100vw;
  height: 100vh;
  background: url("../assets/images/header-bg.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__overlay {
  background-color: #1a1f27;
  width: 100vw;
  height: 100vh;
  opacity: 0.8;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.header__content {
  z-index: 2;
  position: relative;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.header__profession {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.125em;
}
@media screen and (max-width: 1024px) {
  .header__profession {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .header__profession {
    font-size: 16px;
  }
}
.header__name {
  margin: 25px 0;
  font-weight: 700;
  font-size: 72px;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .header__name {
    font-size: 64px;
  }
}
@media screen and (max-width: 768px) {
  .header__name {
    font-size: 50px;
    margin: 12.5px auto;
    width: 90%;
  }
}
.header__paragraph {
  margin: 0 auto 40px auto;
  width: 90%;
  max-width: 710px;
  font-family: "Open Sans", sans-serif;
  color: rgba(255, 255, 255, 0.75);
  font-size: 18px;
  line-height: 1.5em;
}
@media screen and (max-width: 1024px) {
  .header__paragraph {
    font-size: 16px;
    line-height: 1.6em;
    max-width: 650px;
  }
}
@media screen and (max-width: 768px) {
  .header__paragraph {
    font-size: 14px;
    line-height: 1.55em;
    width: 80%;
    max-width: unset;
    min-width: 300px;
  }
}
.header__paragraph-link {
  color: #ff9800;
  text-decoration: none;
}
.header__paragraph-link:hover {
  text-decoration: underline;
}

.button {
  padding: 16px 32px;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  transition: 0.3s ease-in-out;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
.button svg {
  margin-left: 10px;
}
@media screen and (max-width: 1024px) {
  .button {
    font-size: 13px;
    padding: 14px 28px;
  }
}
.button__primary {
  border-color: #ff9800;
  background-color: transparent;
  color: #ff9800;
}
.button__primary:hover {
  background-color: #ff9800;
  color: #fff;
  opacity: 0.95;
}
.button__primary:hover svg path {
  fill: #fff;
}

.section {
  padding: 72px 0;
  width: 100vw;
  height: auto;
}
.section__heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.section__line {
  width: 2px;
  height: 39px;
  margin: 10px auto;
  background-color: #ff9800;
}
.section__heading {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  color: #212529;
  margin-bottom: 24px;
  font-weight: 500;
}
.section__paragraph {
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: #6c757d;
  text-align: center;
  width: 90%;
  max-width: 400px;
  line-height: 1.5rem;
}
.section__gray {
  background-color: #f8f9fa;
}
.section__gradient-bg {
  background: url("../assets/images/contact-bg.jpg") center/cover no-repeat;
}
.section__gradient-bg .section__heading {
  color: #fff;
}
.section__gradient-bg .section__paragraph {
  color: #a2aab0;
}

.about-section__tabs-container {
  width: 90%;
  max-width: 1180px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .about-section__tabs-container {
    width: 95%;
  }
}
@media screen and (max-width: 575px) {
  .about-section__tabs-container {
    width: 100%;
  }
}
.about-section__tab-headings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 55px;
}
.about-section__tab-heading {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  color: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  .about-section__tab-heading {
    font-size: 12px;
  }
}
.about-section__tab-heading.active {
  color: #fff;
  background-color: #ff9800;
}
.about-section__tab-heading:not(.active):hover {
  cursor: pointer;
  background-color: rgba(255, 152, 0, 0.75);
  color: #fff;
}
.about-section__tab-contents {
  width: 100%;
  margin-top: 48px;
}
@media screen and (max-width: 768px) {
  .about-section__tab-contents {
    width: 90%;
    margin: 48px auto 0 auto;
  }
}
.about-section__tab-content {
  display: none;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 550px;
}
.about-section__tab-content.active {
  display: flex;
}
.about-section__tab-content .about-tab__heading {
  margin: 10px auto 0 auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-weight: 400;
  color: #5c6269;
}
.about-section__tab-content .about-tab__heading span {
  font-weight: 600;
  color: #212529;
}
@media screen and (max-width: 768px) {
  .about-section__tab-content .about-tab__heading {
    display: none;
  }
}
.about-section__tab-content .about-tab__heading.mobile-heading {
  display: none;
  line-height: 35px;
}
@media screen and (max-width: 768px) {
  .about-section__tab-content .about-tab__heading.mobile-heading {
    display: block;
  }
  .about-section__tab-content .about-tab__heading.mobile-heading span {
    display: block;
  }
}
.about-section__tab-content .about-tab__paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  width: 90%;
  margin: 25px auto 35px auto;
  max-width: 800px;
  color: #6c757d;
}
@media screen and (max-width: 768px) {
  .about-section__tab-content .about-tab__img {
    width: 175px;
  }
}
.about-section__tab-content .skills-tab__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
}
@media screen and (max-width: 1024px) {
  .about-section__tab-content .skills-tab__container {
    width: 100%;
  }
}
.about-section__tab-content .skills-tab__skill-group {
  width: 47.5%;
  min-height: 155px;
  background: #f9f9f9;
  border-top: 3px solid #ff9800;
  padding: 28px;
}
.about-section__tab-content .skills-tab__skill-group:nth-child(2) {
  margin-left: 5%;
}
.about-section__tab-content .skills-tab__skill-group:last-of-type {
  margin-top: 5%;
}
@media screen and (max-width: 768px) {
  .about-section__tab-content .skills-tab__skill-group {
    width: 100%;
    min-height: 100px;
  }
  .about-section__tab-content .skills-tab__skill-group:nth-child(2) {
    margin: 35px 0 0 0;
  }
}
.about-section__tab-content .skills-tab__skill-group-title {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #212121;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.about-section__tab-content .skills-tab__skill-group-list {
  font-family: "Open Sans", sans-serif;
  color: #6c757d;
  font-size: 14px;
}
.about-section__tab-content .experience-tab__entry {
  border-bottom: 1px solid #d9d9d9;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.about-tab__img{
  border-radius: 50%;
  border: 5px solid #555;
  width: 150px;
  height: 150px;
}
@media screen and (max-width: 768px) {
  .about-section__tab-content .experience-tab__entry {
    width: 100%;
  }
}
@media screen and (max-width: 575px) {
  .about-section__tab-content .experience-tab__entry {
    flex-direction: column;
  }
  .about-section__tab-content .experience-tab__entry-image {
    margin-top: 30px;
  }
}
.about-section__tab-content .experience-tab__entry:first-of-type {
  border-top: 1px solid #d9d9d9;
}
.about-section__tab-content .experience-tab__entry-title {
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.about-section__tab-content .experience-tab__entry-subtext {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #6c757d;
}
.about-section__tab-content .experience-tab__entry-subtext span {
  font-weight: 600;
  color: #212529;
}
.about-section__tab-content .experience-tab__entry-image {
  height: 65px;
  width: auto;
}

.portfolio-section__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  width: 90%;
  max-width: 1180px;
  margin: 0 auto 50px auto;
}
@media screen and (max-width: 1024px) {
  .portfolio-section__grid {
    gap: 25px;
  }
}
@media screen and (max-width: 768px) {
  .portfolio-section__grid {
    grid-template-columns: 1fr;
    max-width: 400px;
  }
}
.portfolio-section__card {
  width: 100%;
  height: 200px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.125);
  transition: 0.3s ease;
  cursor: pointer;
  position: relative;
}
.portfolio-section__card * {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.portfolio-section__card::after {
  content: "";
  height: 3px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: #ff9800;
  transition: width 0.3s ease;
  width: 0;
}
.portfolio-section__card:hover::after {
  width: 100%;
}
.portfolio-section__card:hover * {
  opacity: 0.75;
}

#project-modal-overlay {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.65);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 11;
  opacity: 0;
  display: none;
}

.project-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  max-width: 770px;
  background-color: #fff;
  padding: 40px 0 0 40px;
  z-index: 12;
  font-family: "Montserrat", sans-serif;
  opacity: 0;
  display: none;
}
@media screen and (max-width: 768px) {
  .project-modal {
    padding-left: 0;
  }
}
.project-modal__title {
  color: #212529;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 15px;
  text-transform: capitalize;
}
@media screen and (max-width: 768px) {
  .project-modal__title {
    text-align: center;
    margin-top: 50px;
  }
}
.project-modal__type {
  color: #6c757d;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .project-modal__type {
    text-align: center;
  }
}
.project-modal__close-icon {
  position: absolute;
  right: 40px;
  top: 40px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .project-modal__close-icon {
    right: 50%;
    transform: translateX(50%);
  }
}
.project-modal__close-icon path {
  transition: fill 0.3s ease-in-out;
}
.project-modal__close-icon:hover path {
  fill: #f00;
}
.project-modal__grid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
  height: 100%;
  margin-top: 25px;
}
@media screen and (max-width: 768px) {
  .project-modal__grid {
    grid-template-columns: 1fr;
  }
}
.project-modal__content {
  padding: 25px 0 50px 0;
  border-top: 1px solid #d9d9d9;
}
@media screen and (max-width: 768px) {
  .project-modal__content {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 50px 0;
  }
}
.project-modal__content-heading {
  color: #50565b;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 7.5px;
}
@media screen and (max-width: 768px) {
  .project-modal__content-heading {
    text-align: center;
  }
}
.project-modal__desc {
  color: #6c757d;
  line-height: 24px;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 25px;
}
@media screen and (max-width: 768px) {
  .project-modal__desc {
    text-align: center;
  }
}
.project-modal__tech-used {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 15px;
}
@media screen and (max-width: 768px) {
  .project-modal__tech-used {
    justify-content: center;
  }
}
.project-modal__tech-item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.project-modal__tech-item:not(:last-of-type) {
  margin-right: 22.5px;
}
.project-modal__tech-item-name {
  margin-left: 5px;
  color: #6c757d;
  font-size: 13px;
}
.project-modal__img-section {
  background: url("../assets/images/work-screenshots/bug_tracker.jpg") left/cover no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .project-modal__img-section {
    flex-direction: row;
    padding: 50px 0;
  }
}
@media screen and (max-width: 375px) {
  .project-modal__img-section {
    flex-direction: column;
  }
}
.project-modal__img-section-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
  z-index: 6;
  opacity: 0.25;
}
.project-modal__button {
  z-index: 7;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  width: 90%;
  max-width: 140px;
  height: 100px;
  text-align: center;
  color: black;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s ease;
}
.project-modal__button path {
  transition: 0.3s ease;
}
.project-modal__button:hover {
  background: #ff9800;
  color: #fff;
}
.project-modal__button:hover path {
  fill: #fff;
}
.project-modal__button svg {
  margin-bottom: 12.5px;
}
.project-modal__button:first-of-type {
  margin-bottom: 25px;
}
@media screen and (max-width: 768px) {
  .project-modal__button:first-of-type {
    margin-bottom: 0;
    margin-right: 25px;
  }
}
@media screen and (max-width: 375px) {
  .project-modal__button:first-of-type {
    margin-right: 0;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 500px) and (max-height: 900px) {
  .project-modal {
    transform: scale(0.85) translate(-58.5%, -58.5%);
  }
}
@media screen and (max-width: 500px) and (max-height: 786px) {
  .project-modal {
    transform: scale(0.75) translate(-66.5%, -66.5%);
  }
}

.social-section__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  width: 90%;
  max-width: 1180px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .social-section__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 575px) {
  .social-section__grid {
    grid-template-columns: 1fr;
  }
}
.social-section__card {
  background: white;
  width: 100%;
  height: 70px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  transition: 0.3s ease;
}
.social-section__card path {
  transition: fill 0.3s ease;
}
.social-section__card svg {
  margin-right: 10px;
}
.social-section__card:hover {
  background: #ff9800;
  color: #fff;
}
.social-section__card:hover path {
  fill: #fff;
}

.blog-section__posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 40px;
       column-gap: 40px;
  width: 90%;
  max-width: 1180px;
  margin: 0 auto 50px auto;
}
@media screen and (max-width: 1024px) {
  .blog-section__posts {
    -moz-column-gap: 20px;
         column-gap: 20px;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
  }
}
@media screen and (max-width: 768px) {
  .blog-section__posts {
    grid-template-columns: 1fr;
    max-width: 400px;
  }
}
.blog-section__post {
  width: 100%;
  padding: 26px 23px;
  background-color: #fff;
  border-top: 3px solid #ff9800;
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 1024px) {
  .blog-section__post:last-of-type {
    margin-left: 50%;
  }
}
@media screen and (max-width: 768px) {
  .blog-section__post:last-of-type {
    margin-left: 0;
  }
}
.blog-section__post-title {
  min-height: 56px;
  width: 95%;
  color: #212121;
  font-weight: 700;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 1.25px;
}
@media screen and (max-width: 768px) {
  .blog-section__post-title {
    min-height: 0;
  }
}
.blog-section__post-brief {
  margin: 15px 0 20px 0;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 24px;
  color: #6c757d;
}
.blog-section__post-read-post {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #ff9800;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  transition: opacity 0.25s ease;
}
.blog-section__post-read-post:hover {
  opacity: 0.5;
}
.blog-section__post-read-post svg {
  margin-left: 7.5px;
}

.contact-us__form {
  width: 90%;
  max-width: 623px;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
}
.contact-us__form-alert {
  background-color: rgba(255, 0, 0, 0.25);
  color: #faa;
  width: 100%;
  min-height: 60px;
  margin-bottom: 40px;
  font-size: 14px;
  padding: 0 20px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1.5em;
  display: none;
}
.contact-us__form-alert-close {
  font-size: 18px;
  cursor: pointer;
  transition: color 0.25s ease;
}
.contact-us__form-alert-close:hover {
  color: #f00;
}
.contact-us__form-success {
  background-color: rgba(0, 255, 0, 0.25);
  color: #afa;
  width: 100%;
  min-height: 60px;
  margin-bottom: 40px;
  font-size: 14px;
  padding: 0 20px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1.5em;
  display: none;
}
.contact-us__form-success-close {
  font-size: 18px;
  cursor: pointer;
  transition: color 0.25s ease;
}
.contact-us__form-success-close:hover {
  color: #0f0;
}
.contact-us__form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.contact-us__form-grid > div {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .contact-us__form-grid {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}
.contact-us__form label {
  color: #fff;
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
}
.contact-us__form-group {
  margin-top: 30px;
}
.contact-us__form-group:last-of-type {
  margin-top: 40px;
}
.contact-us__form-input, .contact-us__form-textarea {
  width: 100%;
  height: 47px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  padding-left: 24px;
  color: #fff;
  font-size: 14px;
  outline: none !important;
  transition: 0.25s ease-in-out;
  border-bottom: 2px solid transparent;
  font-family: "Montserrat", sans-serif;
}
.contact-us__form-input::-webkit-input-placeholder, .contact-us__form-textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Montserrat", sans-serif;
}
.contact-us__form-input:focus, .contact-us__form-textarea:focus {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  border-color: #ff9800;
  background: rgba(255, 255, 255, 0.05);
}
.contact-us__form-textarea {
  height: 120px;
  padding-top: 16px;
  resize: none;
}

.footer {
  padding: 56px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer__button {
  margin-bottom: 20px;
  padding: 12px 30px;
}
.footer__text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  color: #a2aab0;
}/*# sourceMappingURL=main.css.map */